html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #eeeeee;
}

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.logo-box {
    width: 100vw;
    border-bottom: 1px solid #dddddd;
    padding: 5px 15px;
}

.pipe {
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    margin: 10px 0;
}

.main-content {
    padding-left: 5%;
}

/* Conteúdo da parte de navegação no topo */
.info-box {
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
    width: 85rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 20px;
}

    .info-item.border-curve {
        position: relative;
        margin: 0 10px;
    }

        .info-item.border-curve::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            right: -10px;
            height: 50%;
            border-left: 1px solid #bbbbbb;
            border-right: 1px solid #bbbbbb;
            transform: skewX(-20deg) translateY(-50%);
            transform-origin: 0% 0%;
            pointer-events: none;
        }
.export-csv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.btn-save {
    height: max-content;
    margin: 0;
    padding: 0 !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: end;
    width: max-content;
}

.save-btn-img {
    display: flex;
    padding: 10px 7px;
    border-radius: 50%;
    background: orange;
    z-index: 2;
}

.save-btn-name {
    background: orange;
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    transform: translateX(-25px);
}

/* Campo de filtragem */

.search-params {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85rem;
}

.input-box {
    display: flex;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px 15px;
    width: max-content;
    border: none;
    height: max-content;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filter-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-input {
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    text-align: center;
    width: max-content;
    min-width: 150px;
}

.filter-select {
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    text-align: center;
    min-width: 100px;
}

.search-button {
    background-color: #55a630;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: background-color 0.3s;
}

    .search-button:hover {
        background-color: #081c15;
    }

/* Listagens */

.table-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
}

.table-header-content {
    width: 67rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.sorteable-table {
    display: flex;
    align-items: center;
    padding-bottom: 5px;}

.sorteable-item {
    padding-inline: 10px;
    font-weight: 400;
}

.clean-filter-sorteable {
    position: relative;
    padding: 10px;
    background-color: #55a630;
}

    .clean-filter-sorteable::after {
        content: '';
        position: absolute; /* Posiciona o triângulo em relação ao span */
        top: 50%; /* Centraliza o triângulo verticalmente no span */
        right: 0; /* Alinha o triângulo ao lado direito do span */
        transform: translateY(-50%); /* Ajusta o alinhamento vertical */
        width: 0;
        height: 20px;
        border-left: 10px solid transparent; /* Cria a parte esquerda do triângulo */
        border-right: 10px solid red; /* Cria a parte direita do triângulo em vermelho */
        border-top: 10px solid transparent; /* Cria a parte superior do triângulo */
        border-bottom: 10px solid transparent; /* Cria a parte inferior do triângulo */
    }

.package-img-box {
    display: flex;
    padding: 5px;
    gap: 20px;
}

.package-img {
    height: 70px;
    align-items: center;
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
}

.registers {
    display: flex;
    gap: 10px;
}

/* Listagem dos veículos */
.vehicles {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
}

.vehicle {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    background: #ffffff;
    width: 67rem;
}

.vehicle-item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
}

.vehicle-image-box {
    margin-left: 10px !important;
}

.vehicle-image-item {
    width: 200px;
    height: 100%;
    object-fit: contain;
    border: 1px solid #dddddd;
}

.btn-delete-vehicle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border: none;
    height: 100%;
    padding: 0 5px;
}

.vehicle-image {
    flex: 0 0 auto;
    margin: 1rem;
    width: 150px;
}

    .vehicle-image .image {
        width: 150px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        padding: 0 10px;
    }



.vehicle-content {
    display: flex;
    height: 100%;
    margin-left: 20px;
    background: #eeeeee;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.vehicle-actions-box {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 5px;
}

.vehicle-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-self: start;
    margin-left: 10px !important;
}

.vehicle-actions {
    display: flex;
    align-self: end;
    gap: 10px;
    padding: 5px 10px;
}

.vehicle-model {
    padding: 5px 10px;
    min-width: 200px;
    margin-bottom: 15px !important;
    border-radius: 10px;
    background: #ffffff;
    font-size: 16px;
    color: #777777;
}

.vehicle-price {
    position: relative;
    background: #f7f7f7;
    padding: 5px 25px;
    text-align: right;
}

    .vehicle-price::before {
        content: '';
        position: absolute;
        top: 0;
        left: -25px;
        width: 0;
        height: 100%;
        border-top: 35px solid transparent;
        border-right: 25px solid #f7f7f7;
        border-bottom: 0px solid transparent;
    }

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-edit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 5px !important;
    padding: 4px 8px;
    font-size: 12px;
    height: max-content;
    background: #0466c8;
}
/* portais e pacotes */
.packages {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portal-container {
    display: flex;
    gap: 20px;
}

.portal:last-of-type {
    position: relative;
    margin: 0 10px;
}

    .portal:last-of-type::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        right: -10px;
        height: 90%;
        border-left: 1px solid #bbbbbb;
        border-right: 1px solid #bbbbbb;
        transform: translateY(-50%);
        transform-origin: 0% 0%;
        pointer-events: none;
    }

.packages-list {
    width: max-content;
    display: flex;
    padding-inline: 17px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5px;
}

.package-item {
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.package-name {
    font-weight: 400;
    font-size: 12px;
}

.package-selection {
    display: flex;
    gap: 5px;
}

/* add/update veiculo */

#newImagesContainer, #existingImagesContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    gap: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 10px;
}

.new-image, .existing-image {
    display: flex;
    flex-direction: column;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}