html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.logo-box {
    width: 100vw;
    background: #eeeeee;
    border-bottom: 1px solid #dddddd;
    padding: 5px 15px;
}

.pipe {
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    margin: 10px 0;
}

.pipe-style {
    height: 9rem;
    width: 1px;
    background: #eeeeee;
}

.main-content {
    display: flex;
    width: 100%;
    flex: 1;
    background: #eeeeee;
}

.margin-left {
    width: 5%;
    background: #f7f7f7;
}

.alert-container {
    max-width: 600px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 9999;
}

/* Conteúdo da parte de navegação no topo */
.info-box {
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
    width: 85rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 20px;
}

    .info-item.border-curve {
        position: relative;
        margin: 0 10px;
    }

        .info-item.border-curve::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            right: -10px;
            height: 50%;
            border-left: 1px solid #bbbbbb;
            border-right: 1px solid #bbbbbb;
            transform: skewX(-20deg) translateY(-50%);
            transform-origin: 0% 0%;
            pointer-events: none;
        }
.export-csv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.btn-save {
    height: max-content;
    margin: 0;
    padding: 0 !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.save-btn-img {
    display: flex;
    padding: 10px 7px;
    border-radius: 50%;
    background: orange;
    z-index: 2;
}

.save-btn-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    height: 3rem;
    width: 8rem;
    border-radius: 10px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    transform: translateX(-25px);
}

/* Campo de filtragem */

.search-params {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85rem;
}

.input-box {
    margin-left: 5px !important;
    display: flex;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px 15px;
    width: max-content;
    border: none;
    height: max-content;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filter-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-input {
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    text-align: center;
    width: max-content;
    min-width: 150px;
}

.filter-select {
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    text-align: center;
    min-width: 100px;
}

.search-button {
    background-color: #55a630;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: background-color 0.3s;
}

    .search-button:hover {
        background-color: #081c15;
    }

/* Listagens */

.table-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
}

.table-header-content {
    width: 67rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.sorteable-table {
    display: flex;
    align-items: center;
    padding-bottom: 5px;}

.sorteable-item {
    padding-inline: 10px;
    font-weight: 400;
    display: flex;
    position: relative;
}

.sorteable-item-icon {
    position: relative;
    width: 25px;
    height: 100%;
    cursor: pointer;
}

    .sorteable-item-icon::before,
    .sorteable-item-icon::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .sorteable-item-icon::before {
        top: 0;
        border-bottom: 10px solid #aaaaaa;
    }

    .sorteable-item-icon::after {
        bottom: -22px;
        border-top: 10px solid green;
    }

.clean-filter-sorteable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 30px;
    width: 50px;
    margin-right: 30px !important;
    background-color: #55a630;
}

    .clean-filter-sorteable::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 15px solid #55a630;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

.clean-icon-sorteable {
    position: relative;
    width: 25px;
    height: 100%;
    cursor: pointer;
}

    .clean-icon-sorteable::before,
    .clean-icon-sorteable::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .clean-icon-sorteable::before {
        top: 13%;
        border-bottom: 10px solid #ffffff;
    }

    .clean-icon-sorteable::after {
        bottom: 13%;
        border-top: 10px solid #ffffff;
    }

.sorteable {
    background: #ffffff;
    border-radius: 50%;
    padding: 10px 3px;
    cursor: pointer;
}

.package-img-box {
    display: flex;
    padding: 5px 0;
    gap: 15px;
}

.package-img {
    position: relative;
    height: 70px;
    align-items: center;
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
}

.package-actions {
    position: absolute;
    bottom: -15px;
    display: flex;
    gap: 10px;
    background: #ffffff;
    padding: 5px;
    border-radius: 50%;
}

.fa-solid {
    cursor: pointer;
}

.registers {
    display: flex;
    gap: 10px;
}

/* Listagem dos veículos */
.vehicles {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
}

.vehicle {
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: space-between;
    background: #ffffff;
    width: 67rem;
}

.vehicle-item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
}

.vehicle-image-box {
    margin-left: 10px !important;
}

.vehicle-image-item {
    width: 200px;
    height: 100%;
    object-fit: contain;
    border: 1px solid #dddddd;
}

.btn-delete-vehicle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border: none;
    height: 100%;
    padding: 0 5px;
}

.vehicle-image {
    flex: 0 0 auto;
    margin: 1rem;
    width: 150px;
}

    .vehicle-image .image {
        width: 150px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        padding: 0 10px;
    }



.vehicle-content {
    display: flex;
    height: 100%;
    padding-left: 20px;
    background: #eeeeee;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.vehicle-actions-box {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 5px;
}

.vehicle-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-self: start;
}

.vehicle-actions {
    display: flex;
    align-self: end;
    gap: 10px;
    padding: 0px 30px 2px 10px;
}

.vehicle-model {
    padding: 5px 10px;
    min-width: 200px;
    margin-bottom: 15px !important;
    border-radius: 10px;
    background: #ffffff;
    font-size: 16px;
    color: #777777;
}

.vehicle-price {
    position: relative;
    background: #f7f7f7;
    padding: 5px 30px 5px 20px;
    text-align: right;
}

    .vehicle-price::before {
        content: '';
        position: absolute;
        top: 0;
        left: -25px;
        width: 0;
        height: 100%;
        border-top: 35px solid transparent;
        border-right: 25px solid #f7f7f7;
        border-bottom: 0px solid transparent;
    }

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-edit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 5px !important;
    padding: 4px 8px;
    font-size: 12px;
    height: max-content;
    background: #0466c8;
}

/* portais e pacotes */

.packages {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portal-container {
    display: flex;
    position: relative;
}

.portal-actions {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    padding: 15px 5px;
    border-radius: 50%;
}

.packages-list {
    width: max-content;
    display: flex;
    padding-inline: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5px;
}

.package-item {
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.package-name {
    font-weight: 400;
    font-size: 12px;
}

.package-selection {
    display: flex;
    gap: 5px;
}

#VehiclePackageForm {
    border-bottom: 1px dotted #000000;
    padding-left: 10px;
}

/* add/update veiculo */
#newImagesContainer, #existingImagesContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    gap: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 10px;
}

.new-image, .existing-image {
    display: flex;
    flex-direction: column;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

/* Paginação */

.pagination {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 20px !important;
}

.pagination-btn {
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
    text-decoration: none;
    width: 25px;
    background: #eee;
    border: 1px solid #aaaaaa;
}

.pagination-number-box {
    display: flex;
    gap: 10px;
}

.pagination-number {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}


.image-input-group {
    display: flex;
    align-items: center;
}

.image-input {
    flex: 1;
}

.img-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
}

.img-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}