@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Veículos</h2>
@if (Model.Vehicles.Any())
{
    <ul>
        @foreach (var vehicle in Model.Vehicles)
        {
            <li>@vehicle.Modelo</li>
        }
    </ul>
}
else
{
    <p>Nenhum veículo encontrado.</p>
}

<h2>Pacotes</h2>
@if (Model.Packages.Any())
{
    <ul>
        @foreach (var package in Model.Packages)
        {
            <li>@package.Name</li>
        }
    </ul>
}
else
{
    <p>Nenhum pacote encontrado.</p>
}
